{
    auto_https off
    admin off
    frankenphp {
        worker /app/public/index.php 16
    }
}

:8080 {
    root * /app/public
    encode zstd gzip
    route {
        rewrite * /index.php
        php
    }
    log {
        output stdout
        format json
    }
}
